body{
    background-color: rgb(180, 169, 169);
}
.full{
    width: 21cm;
    height: 28.7cm;
    border: 5px solid rgb(69, 71, 71);
    padding: 70px;
    background-color: rgb(228, 220, 220);
    position: absolute;
    top:50px;
    left:180px;
}
.full .title h2{
    font-family:Calibri (Body);
    font-size:35px;
    color:rgb(212, 204, 204);
    position: absolute;
    top:20px;
    left:20px;
}
.full .title p{
    font-family:Calibri (Body);
    font-size:12px;
    color:rgb(212, 204, 204);
    position: absolute;
    top:120px;
    left:20px;
}
.full .slide{
    width: 300px;
    height: 30.9cm;
    background: #404142;
    padding: 30px 0px;
    position: absolute;
    top:0px;
    left:0px;
    }
#hr1 {
    width: 99%;
    height:5px;
    color:rgb(223, 221, 217);
    position: absolute;
    top:215px;
  }
.full .slide .contact h2{
    position: absolute;
    top:170px;
    left: 10px;
    color:rgb(212, 204, 204);
}
.full .slide .contact ul{
    position: absolute;
    font-size: large;
    top:230px;
    color:rgb(212, 204, 204);
    line-height: 28px;;
}

.full .slide .contact ul li a{
    color:rgb(212, 204, 204);
}


.full .slide .skills h2{
    position: absolute;
    top:415px;
    left: 10px;
    color:rgb(212, 204, 204);
}
#hr2 {
    width: 99%;
    height:5px;
    color:rgb(223, 221, 217);
    position: absolute;
    top:460px;
}
.full .slide .skills ul{
    position: absolute;
    font-size: large;
    top:480px;
    color:rgb(212, 204, 204);
    line-height: 28px;;
}


.full .slide .tech_skills h2{
    position: absolute;
    top:665px;
    left: 10px;
    color:rgb(212, 204, 204);
}
#hr3 {
    width: 99%;
    height:5px;
    color:rgb(223, 221, 217);
    position: absolute;
    top:710px;
  }
.full .slide .tech_skills ul{
    position: absolute;
    font-size: large;
    top:730px;
    color:rgb(212, 204, 204);
    line-height: 28px;;
}

.full .slide .hobbie h2{
    position: absolute;
    top:990px;
    left: 10px;
    color:rgb(212, 204, 204);
}
#hr4 {
    width: 99%;
    height:5px;
    color:rgb(223, 221, 217);
    position: absolute;
    top:1035px;
  }
.full .slide .hobbie ul{
    position: absolute;
    font-size: large;
    top:1050px;
    color:rgb(212, 204, 204);
    line-height: 28px;;
}

.full .content{
    width: 635px;
    height: 30.9cm;
    background: rgb(212, 204, 204);
    padding: 30px 0px;
    position: absolute;
    top:0px;
    left:300px;
}
.full .content .careerobj h2{
    color:#404142;
    position: absolute;
    left:10px;
    top:20px;
}
#hr5 {
    width: 99%;
    height:5px;
    color:rgb(65, 64, 62);
    position: absolute;
    top:63px;
    left:3px;
}
.full .content .careerobj p{
    color:#404142;
    position: absolute;
    left:10px;
    top:75px;
    font-size:17px;
}
.full .content .careerobj p:first-letter {
    padding-left: 10%;
}

.full .content .education h2{
    color:#404142;
    position: absolute;
    left:10px;
    top:140px;
}
#hr6 {
    width: 99%;
    height:5px;
    color:rgb(65, 64, 62);
    position: absolute;
    top:205px;
    left:3px;
}
.full .content .education .institute{
    color:#404142;
    position: absolute;
    left:70px;
    top:220px;
    font-size:17px;
}
.full .content .education .institute .college ul{
    color:#404142;
    position: absolute;
    left:0px;
    top:25px;
    font-size:17px;
}
.full .content .education .institute .hsc{
    color:#404142;
    position: absolute;
    left:0px;
    top:105px;
    font-size:17px;
}
.full .content .education .institute .hsc ul{
    color:#404142;
    position: absolute;
    left:0px;
    top:45px;
    font-size:17px;
}
.full .content .education .institute .sslc{
    color:#404142;
    position: absolute;
    left:0px;
    top:235px;
    font-size:17px;
}
.full .content .education .institute .sslc ul{
    color:#404142;
    position: absolute;
    left:0px;
    top:45px;
    font-size:17px;
}
.full .content .education h2{
    position: absolute;
    top:160px;
}
.certificate .com{
    font-size:17px;
}
.full .content .certificate h2{
    color:#404142;
    position: absolute;
    left:10px;
    top:590px;

}
#hr7{
    width: 99%;
    height:5px;
    color:rgb(65, 64, 62);
    position: absolute;
    top:635px;
    left:3px;
}
.full .content .certificate .com {
    color:#404142;
    position: absolute;
    left:10px;
    top:655px;
    font-size:17px;
}
#sub1{
    position: absolute;
    left:50px;
    top:50px;
}
#tcs{
    position: absolute;
    top:90px;
}
#sub2{
    position: absolute;
    top:120px;
    left:50px;
}

.full .content .project h2{
    color:#404142;
    position: absolute;
    left:10px;
    top:820px;
}
#hr8 {
    width: 99%;
    height:5px;
    color:rgb(65, 64, 62);
    position: absolute;
    top:865px;
    left:3px;
}
.full .content .project .school{
    color:#404142;
    position: absolute;
    left:10px;
    top:885px;
    font-size:17px;
}
.full .content .project .school p:first-letter {
    padding-left: 10%;
}

.full .content .declaration h2{
    color:#404142;
    position: absolute;
    left:10px;
    top:1020px;
}
#hr9 {
    width: 99%;
    height:5px;
    color:rgb(65, 64, 62);
    position: absolute;
    top:1065px;
    left:3px;
}
.full .content .declaration p{
    color:#404142;
    position: absolute;
    left:10px;
    top:1085px;
    font-size:17px;
}
.full .content .declaration p:first-letter {
    padding-left: 10%;
}